.footer{
    border-top: 2px solid var(--primary-color);
    padding-top: 24px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);

    .container-custom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        padding-bottom: 24px;
        .footer-item{
            font-size: 20px;
            font-weight: var(--font-medium);

            li{
                margin-bottom: 8px;
                font-size: 16px;
            }

            .social-icon{
                .icon-facebook{
                    color: #1877F2;
                }
                
                .icon-instagram{
                    background: linear-gradient(to bottom, #8A3AB9, #E95950); /* Gradient từ tím đến hồng */
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
                
                .icon-twitter{
                    color: #1877F2;
                }
                
                .icon-youtube{
                    color: #EA4335    ;
                }
            }
        }
    }

    .copyright{
        text-align: center;
        background: var(--primary-color);
        color: var(--white-color);
        font-weight: var(--white-color);
        font-weight: var(--font-medium);
        padding: 4px 0;
    }
}