@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #e81e13;
  --black-color:#000;
  --white-color:#fff;
  --font-medium: 500;  
  --font-large: 700;
  --font-extra-large: 900;
  --font-small: 300;
  --font-extra-small: 100;
}

.container-custom{
  max-width: 1200px;
  margin: 0 auto;
}